<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StayFit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D888BC0F1D2419BC0068B6B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D888BC271D2419BC0068B6B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D888BC321D2419BC0068B6B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
